*{
    margin: 0;
    padding: 0;
}

.container{
    width: 100%;
    height: 970px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    gap: 10px;
    font-size: 25px;
}

img{
    width: 300px;
}

p{
    color: #808080;
    font-size: 30px;
}

form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 30%;
    text-align: left;
    font-size: 25px;

}

input{
    padding: 10px;
    font-size: 20px;
    border: 1px solid #808080;
    border-radius: 10px;
}

input:focus{
    outline: none;
    box-shadow: 0 0 20px #4F5BE6;
    background: rgba(89, 75, 212, 0.1);
    transform: scale(1.05);
}

button{
    background-color: #1639ED;
    border: none;
    padding: 10px;
    font-size: 30px;
    color: #fff;
    font-family: 'Quicksand', sans-serif;
}

a{
    text-decoration: none;
    text-align: center;
}